IMAGE_VERSION=v1.0.0

# ==========================================
# YT-UPLOAD ZENSUR-EINSTELLUNGEN
# ==========================================

# Zensurfunktion aktivieren (true/false)
# ENABLE_DESCRIPTION_CENSOR=true

# Kommagetrennte Blacklist für Titel und Beschreibungen
# (Werden zensiert, falls keine upload.conf vorhanden ist)
# DESCRIPTION_BLACKLIST="onlyfans.com,fansly.com,loyalfans.com,manyvids.com,pornhub.com,chaturbate.com,stake.com,csgoroll.com,hellcase.com,1xbet.com,adf.ly,shorte.st"
