[paths]
in_dir = /videos/in
work_dir = /videos/work
done_dir = /videos/done
corrupt_dir = /videos/corrupt
log_file = /log/upload.log
credentials_file = /app/oauth/youtube-upload-credentials.json

[settings]
enable_dynamic_playlists = false
privacy_status = unlisted
default_category = Entertainment
default_language = de
allow_embedding = true
default_description = Automatischer Upload via Script.
default_tags = Upload, Video
auto_generate_thumbnail = true
auto_thumb_min_sec = 15
auto_thumb_max_sec = 120
allow_overwrite = true
